base-url: "${BASE_URL:http://localhost:8080}"

sentry:
  dsn: ${SENTRY_DSN:}
  traces-sample-rate: ${SENTRY_SAMPLE_RATE:1.0}
  enabled: ${SENTRY_ENABLED:false}
  environment: ${SENTRY_ENVIRONMENT:dev}
  use-git-commit-id-as-release: true
  ignored-exceptions-for-type:
    - org.springframework.security.authorization.AuthorizationDeniedException
  send-default-pii: true
  enable-metrics: true

spring:
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  session:
    dynamodb:
      table-name: ${DYNAMO_SESSION_TABLE:sessions}
      max-inactive-interval: 1h
      region: eu-west-2
      endpoint: ${DYNAMO_ENDPOINT:}
      create-table: ${DYNAMO_SESSION_CREATE_TABLE:true}
  mvc:
    log-request-details: ${DEBUG_LOG_REQUESTS:false}
  devtools:
    livereload:
      enabled: ${DEVTOOLS_LIVE_RELOAD:false}
    restart:
      enabled: ${DEVTOOLS_RESTART:false}
  freemarker:
    template-loader-path: "classpath:/templates"
    suffix: .ftl
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 20MB
  security:
    oauth2:
      client:
        registration:
          login:
            client-id: "${COGNITO_CLIENT_ID:dummy}"
            client-secret: "${COGNITO_CLIENT_SECRET:}"
            scope: openid, email, profile
            authorization-grant-type: authorization_code
            client-name: website
            region: ${AWS_REGION:eu-west-2}
            user-pool-id: ${COGNITO_USER_POOL_ID:eu-west-2_fl4u3kveF}
            session-salt: "${COGNITO_SESSION_SALT:}"
            hosted-ui-uri: "${COGNITO_UI_URI:}"

        provider:
          login:
            issuer-uri: ${COGNITO_ISSUER_URI:}
            user-name-attribute: email
          website:
            issuer-uri: ${COGNITO_ISSUER_URI:}

debug: ${DEBUG:false}
server:
  port: 8080
  forward-headers-strategy: framework
  servlet:
    session:
      timeout: 21600s
      cookie:
        max-age: 21600s
  tomcat:
    max-http-response-header-size: 32KB

  max-http-request-header-size: 32KB

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

club:
  club-name: ${CLUBNAME:My Cricket Club}
  logo: "/mcc/img/logos/mcc-logo-header.svg"
  mail-logo: "/mcc/img/logos/mcc-logo.svg"
  favicon: "/mcc/img/logos/mcc-logo-favicon.svg"
  club-address: ${CLUB_ADDRESS:}
  phone-number: "${CLUB_PHONE_NUMBER:(01234) 567890}"
  google-analytics-key: "${GOOGLE_ANALYTICS_KEY:}"
  google-maps-api-key: ${GOOGLE_MAPS_API_KEY:}
  play-cricket:
    enabled: true
    site: merstham
  fundraising:
    justgiving: ${JUSTGIVING_LINK:}
    easyfundraising: ${EASYFUNDRAISING_LINK:}
  social:
    twitter:
      handle: ${TWITTER_HANDLE:}
    facebook:
      handle: ${FACEBOOK_HANDLE:}
  cookies:
    api-key: ${COOKIE_CONTROL_KEY:}
    product-code: ${COOKIE_CONTROL_PRODUCT:PRO}
    optional-cookie-categories:
      - name: social
        label: Social Media
        enabled: true
        description: Blah
        cookieNames:
          - "_utma"
          - "gid"
  kit-store-url: ${KIT_STORE_URL:}
  supporter-kit-store-url: ${SUPPORTER_STORE_URL:}
  mailing-list:
    post-url: ${MAILCHIMP_FORM_POST_URL:}
    tags: ${MAILCHIMP_FORM_TAGS:}
    hidden-field-name: ${MAILCHIMP_FORM_HIDDEN_NAME:}
  rss:
    feed-description: ${RSS_FEED_DESCRIPTION:Club News}
api:
  base-uri: ${API_BASE_URI:http://localhost:8090}
  graph-uri: ${API_BASE_URI:http://localhost:8090}/graphql
  api-key: "${API_KEY:}"
  api-key-header: "${API_KEY_HEADER:X-API-KEY}" #pragma: allowlist secret
resources:
  base-url: "${RESOURCES_BASE_URL}"
  bucket-prefix: "${RESOURCES_LOCAL_PREFIX:}"
  base-directory: "${RESOURCES_BASE_DIRECTORY:resources}"
  bucket: "${RESOURCES_BUCKET_NAME:resources}"
  region: "${RESOURCES_BUCKET_REGION:eu-west-2}"
  api-endpoint: ${RESOURCES_API_ENDPOINT:}

payments:
  complementary:
    enabled: true
    disabled-reason: ~
  pay-later:
    enabled: false
    disabled-reason: ~
  paypal:
    enabled: true
    disabled-reason: ~
    client-id: ${PAYPAL_CLIENT_ID:}
    client-secret: ${PAYPAL_CLIENT_SECRET:}
    sandbox: ${PAYPAL_SANDBOX:true}
  stripe:
    enabled: true
    disabled-reason: ~
    api-key: ${STRIPE_API_KEY:}
    publishable-key: ${STRIPE_PUBLISHABLE_KEY:}
  gocardless:
    enabled: true
    disabled-reason: ~
    access-token: ${GOCARDLESS_ACCESS_TOKEN:}
    sandbox: ${GOCARDLESS_SANDBOX:true}
    mandate-description: Membership and Match Fees
    schedule-end-date: ${GOCARDLESS_SCHEDULE_END_DATE:2025-11-30}
  bank:
    enabled: true
    disabled-reason: ~
    account-name: ${BANK_ACCOUNT_NAME:Merstham Cricket Club}
    account-number: ${BANK_ACCOUNT_NUMBER:49244507}
    sort-code: ${BANK_ACCOUNT_SORT_CODE:56-00-46}

contact-methods:
  email:
    enabled: true
  phone:
    enabled: true
    default-region: GB

registration:
  enabled: ${REGISTRATION_ENABLED:true}
  current-year: ${REGISTRATION_YEAR:2025}
  defaults:
    - category: junior
      name-field: parent-name-1
      email-field: parent-email-1
      persist-fields:
        - parent-name-1
        - parent-name-2
        - parent-number-1
        - parent-number-2
        - parent-email-1
        - parent-email-2
        - family-name

bots:
  robots: "${ROBOTS:}"
  sitemap: "${SITEMAP:}"

scripts: "${GLOBAL_SCRIPT_WIDGETS:}"

features:
  club-draw: true