{% extends 'base.html.twig' %}
{% form_theme form 'jango.form.template.twig' %}
{% block title %}{{ 'register' | trans({}, 'frontend') }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
