{% extends 'admin-base.html.twig' %}

{% form_theme form with [
	'jango.form.template.twig'
] %}
{% block body %}
		<div class="c-content-panel">
			<div class="c-body">
				<div class="c-content-tab-1 ">
            		<div class="row">
            			<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">{% block subtitle %}{{ (areas_array[app.request.attributes.get('_route')] is defined) ? areas_array[app.request.attributes.get('_route')] : '' }}{% endblock %}<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a>
									</h3>
								</div>
								<div class="panel-body">
									{% block areabody %}
										No body defined for page!!
									{% endblock %}
								</div>
							</div>
            			</div>
            		</div>
            	</div>
            </div>
		</div>
{% endblock %}
