{% extends 'bootstrap_4_horizontal_layout.html.twig' %}

{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-horizontal')|trim}) %}
    {{- parent() -}}
{%- endblock form_start %}


{% block form_widget_simple -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' c-square c-theme')|trim}) -%}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{%- block form_rows -%}
    {% for child in form %}
        {{- form_row(child) -}}
    {% endfor %}
{%- endblock form_rows -%}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}

            {{- form_errors(form) -}}
        </div>
{##}</div>
{%- endblock form_row %}

{% block button_row -%}
    <div class="form-group">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}

{% block button_widget -%}

    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' btn c-btn-square btn-lg c-btn-uppercase c-btn-bold')|trim}) -%}
    {% if type is defined and type =='submit' %}
	    {%- set attr = attr|merge({class: (attr.class ~ ' c-theme-btn')|trim}) -%}
    {% endif %}
    {% if type is defined and type =='reset' %}
	    {%- set attr = attr|merge({class: (attr.class ~ ' btn-default')|trim}) -%}
    {% endif %}

    {%- if label is not same as(false) and label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget %}

{%- block form_section_row -%}
	<div class="c-content-title-1 c-title-md c-margin-b-20 clearfix">
		<h3 class="c-font-thin">{{ label | trans({}, translation_domain )}}</h3>
		<div class="c-line-left c-theme-bg"></div>
	</div>
    {% for child in form %}
        {{- form_row(child) -}}
    {% endfor %}
{%- endblock form_section_row -%}

{%- block button_section_row -%}
	<div class="form-group c-margin-t-40">
	   	<div class="col-sm-offset-4 col-md-8">
            {% for child in form %}
                {{- form_widget(child) -}}
            {% endfor %}
	  	</div>
	</div>
{%- endblock button_section_row -%}

{% block submit_row -%}
    {{- form_widget(form) -}}
{%- endblock submit_row %}

{% block reset_row -%}
    {{- form_widget(form) -}}
{%- endblock reset_row %}

{%- block recaptcha_widget -%}
	<div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div>
{%- endblock recaptcha_widget -%}

{%- block recaptcha_row -%}
	<div class="form-group">
	   	<div class="col-md-offset-2 col-md-10">
            {{- form_widget(form) -}}
	  	</div>
	</div>
{%- endblock recaptcha_row -%}

{%- block table_form_widget -%}
    <table class="table table-hover">
        <thead>
            <tr>
                {% if selectable %}
                    <th></th>
                {% endif %}
                {% for column in columns %}
                    <th>{{ column.header }}</th>
                {% endfor %}
                {% if actions %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr scope="row">
                    {% if selectable %}
                        <td>
                            <input name="{{ id }}" value="{{ attribute(row, id) }}" type="checkbox" />
                        </td>
                    {% endif %}
                    {% for column in columns %}
                        {% if column.field %}
                            {% set cell_value = attribute(row, column.field) is defined ? attribute(row, column.field) : row[column.field] %}
                        {% else %}
                            {% set cell_value = " " %}
                        {% endif %}
                        <td>
                            {% if column.form %}
                                {{ form_widget(column.formview, { 'value': cell_value } ) }}
                            {% else %}
                                {{  cell_value }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% if actions %}
                        <td>
                            {% for action in actions %}
                                <button type="submit" class="btn btn-{{ action.disposition }} btn-xs" name="{{ action.name }}" value="{{ attribute(row, id) }}"><i class="{{ action.icon }}"></i> {{ action.label }}</button>&nbsp;
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                {% if selectable %}
                    <td></td>
                {% endif %}

                {% for column in columns %}
                    <td>{{ column.footer }}</td>
                {% endfor %}
                {% if actions %}
                    <td></td>
                {% endif %}
            </tr>
        </tfoot>
    </table>
{%- endblock table_form_widget -%}


{%- block table_form_row -%}
    <div>
        {{- form_widget(form) -}}
    </div>
{%- endblock table_form_row -%}

{%- block panel_row -%}
    {{- form_widget(form) -}}
{%- endblock -%}

{%- block panel_widget -%}
    <div class="panel panel-{{ type }}">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ title | trans({}, translation_domain) }}
            </h3>
        </div>
        <div class="panel-body">
            {% for child in form %}
                {{- form_row(child) -}}
            {% endfor %}
        </div>
    </div>
{%- endblock -%}

{%- block membershipcategory_row -%}
    {{ form_widget(form) }}
{% endblock %}

{%- block membershipcategory_widget -%}
    {%- for category in choices -%}
        <div class="c-content-title-1 c-title-md c-margin-b-20 clearfix">
            <h3 class="c-font-thin">{{ category.key | trans({}, translation_domain) }}</h3>
            <div class="c-line-left c-theme-bg"></div>
            {% set pricelist = category.pricelistItem %}
            {{ block("pricelist_widget") }}
        </div>
    {%- endfor -%}
{%- endblock -%}

{%- block pricelist_row -%}
    {{ form_widget(form) }}
{%- endblock -%}

{%- block pricelist_widget -%}
    <div class="row">
        <div class="c-content-pricing-1 c-opt-1">
            <div class="col-md-2 c-sm-hidden">
                <div class="c-content c-column-odd c-padding-adjustment">
                    <div class="c-row c-type c-font-20 c-align-left">&nbsp;<br />&nbsp;</div>
                    <div class="c-row c-title c-font-17">Age(s)</div>
                    <div class="c-row c-title c-font-17">Gender</div>
                    <div class="c-row c-title c-font-17"></div>
                    <div class="c-row c-title c-font-17">Includes Match Fees</div>
                    <div class="c-row c-empty">&nbsp;</div>
                    <div class="c-row c-empty">&nbsp;</div>
                </div>
            </div>
            {% set even = true %}
            {%- for item in pricelist %}
                <div class="col-md-2 col-sm-3">
                    {% set parts = item.description | split(" ", 2) %}
                    <div class="c-content c-column-{{ even ? "even" : "odd" }} c-padding-adjustment">
                        <div class="c-row c-type c-font-20">
                            {{ parts[0] }}
                            <br />
                            {%- if parts | length > 1 %}
                                {{ parts[1] }}
                            {% else %}
                                &nbsp;
                            {% endif -%}
                        </div>
                        <div class="c-row c-font-17">
                            {{ item.minAge }}&nbsp;
                            {%- if item.maxAge %}
                                - {{ item.maxAge }}
                            {%- else -%}
                                and up
                            {%- endif -%}
                            <span class="c-sub-title">Age(s)</span>
                        </div>
                        <div class="c-row">
                            All <span class="c-sub-title">Gender</span>
                        </div>
                        <div class="c-row">

                        </div>
                        <div class="c-row">
                            {%- if item.includesMatchFee %}
                                <i class="fa fa-check c-font-20"></i>
                            {%- else -%}
                                <i class="fa fa-times c-font-20"></i>
                            {% endif -%}
                            <span class="c-sub-title">Paid Issues</span>
                        </div>
                        <div class="c-row c-price">
                            <span class="c-dollar c-font-20">&pound;</span> <span class="c-font-30 c-font-bold">{{ item.currentPrice }}</span>
                        </div>
                        <div class="c-row c-purchase">
                            <button class="btn btn-md c-btn-square c-btn-green c-btn-uppercase c-btn-bold" value="{{ item.id }}" name="{{ full_name }}" id="{{ id }}" type="submit">{{ label|trans({}, translation_domain) }}</button>
                        </div>
                    </div>
                </div>
                {% set even = not even %}
            {% endfor -%}
        </div>
    </div>
{%- endblock -%}
