{% extends 'knp_menu_base.html.twig' %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block compressed_root %}
    {% apply spaceless %}
        {{ block('root') }}
    {% endapply %}
{% endblock %}

{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase-reset c-fonts-bold-reset">
        {{ block('list') -}}
    </nav>
{% endblock %}

{% block list %}
    {% import _self as knp_menu %}
    <ul class="nav navbar-nav c-theme-nav">
        {% for menuEntry in item.children %}
            {% if menuEntry.displayed %}
                {%- set classes = [] %}
                {%- if matcher.isCurrent(menuEntry) %}
                    {%- set classes = classes|merge([options.currentClass]) %}
                {%- elseif matcher.isAncestor(menuEntry, options.matchingDepth) %}
                    {%- set classes = classes|merge([options.ancestorClass]) %}
                {%- endif %}
                {%- set megamenu = menuEntry.extra('megaMenu', false) %}
                {%- if not megamenu %}
                    {%- set classes = classes|merge(['c-menu-type-classic']) %}
                {%- endif %}

                <li class="{{ classes | join(' ') }}">
                    <a href="{{ menuEntry.uri ? menuEntry.uri : 'javascript:;' }}" class="c-link dropdown-toggle">
                        {% with { item: menuEntry } %}
                            {{ block('label') }}
                        {% endwith %}
                        <span class="c-arrow c-toggler"></span>
                    </a>
                    {% if menuEntry.children %}
                        {% if megamenu %}
                            <ul class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
                                {% for subMenuEntry in menuEntry.children %}
                                    {%- set subMenuEntryClasses = [] %}
                                    {%- if matcher.isCurrent(subMenuEntry) %}
                                        {%- set subMenuEntryClasses = subMenuEntryClasses|merge([options.currentClass]) %}
                                    {%- elseif matcher.isAncestor(subMenuEntry, options.matchingDepth) %}
                                        {%- set subMenuEntryClasses = subMenuEntryClasses|merge([options.ancestorClass]) %}
                                    {%- endif %}
                                    <li>
                                        <ul class="dropdown-menu c-menu-type-inline">
                                            <li>
                                                <h3>
                                                    {% with { item: subMenuEntry } %}
                                                        {{ block('label') }}
                                                    {% endwith %}
                                                </h3>
                                            </li>
                                            {{ block('leafEntries') }}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                {% for subMenuEntry in menuEntry.children %}
                                    {%- set subMenuEntryClasses = [] %}
                                    {%- if matcher.isCurrent(subMenuEntry) %}
                                        {%- set subMenuEntryClasses = subMenuEntryClasses|merge([options.currentClass]) %}
                                    {%- elseif matcher.isAncestor(subMenuEntry, options.matchingDepth) %}
                                        {%- set subMenuEntryClasses = subMenuEntryClasses|merge([options.ancestorClass]) %}
                                    {%- endif %}
                                    {% if subMenuEntry.children %}
                                        <li class="dropdown-submenu {{ subMenuEntryClasses | join(' ') }}">
                                            <a href="{{ subMenuEntry.uri ? subMenuEntry.uri : 'javascript:;' }}">
                                                {% with { item: subMenuEntry } %}
                                                    {{ block('label') }}
                                                {% endwith %}
                                                <span class="c-arrow c-toggler"></span>
                                            </a>
                                            <ul class="dropdown-menu c-pull-right">
                                                {{ block('leafEntries') }}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class="{{ subMenuEntryClasses | join(' ') }}">
                                            <a href="{{ subMenuEntry.uri ? subMenuEntry.uri : 'javascript:;' }}">
                                                {% with { item: subMenuEntry } %}
                                                    {{ block('label') }}
                                                {% endwith %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        <li class="c-search-toggler-wrapper">
            <a  href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
        </li>

        {% if false %}
            <li class="c-cart-toggler-wrapper">
                <a  href="#" class="c-btn-icon c-cart-toggler"><i class="icon-handbag c-cart-icon"></i> <span class="c-cart-number c-theme-bg">2</span></a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block leafEntries %}
    {% for leafEntry in subMenuEntry.children %}
        {%- set leafEntryClasses = [] %}
        {%- if matcher.isCurrent(leafEntry) %}
            {%- set leafEntryClasses = leafEntryClasses|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(leafEntry, options.matchingDepth) %}
            {%- set leafEntryClasses = leafEntryClasses|merge([options.ancestorClass]) %}
        {%- endif %}
        <li class="{{ leafEntryClasses | join(' ') }}">
            <a href="{{ leafEntry.uri }}">
                {% with { item: leafEntry } %}
                    {{ block('label') }}
                {% endwith %}
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block label %}
    {%- set translation_domain = item.extra('translation_domain', 'messages') -%}
    {%- set label = item.label -%}
    {%- if translation_domain is not same as(false) -%}
        {%- set label = label|trans(item.extra('translation_params', {}), translation_domain) -%}
    {%- endif -%}
    {%- if options.allow_safe_labels and item.extra('safe_label', false) %}{{ label|raw }}{% else %}{{ label }}{% endif -%}
{% endblock %}
