{% extends 'knp_menu_base.html.twig' %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block compressed_root %}
    {% apply spaceless %}
        {{ block('root') }}
    {% endapply %}
{% endblock %}

{% block root %}
    {{ block('list') -}}
{% endblock %}

{% block list %}
    {% import _self as knp_menu %}
    {% for menuEntry in item.children %}
        {% if menuEntry.displayed %}
            {%- set classes = [] %}
            {%- if matcher.isCurrent(menuEntry) %}
                {%- set classes = classes|merge([options.currentClass]) %}
            {%- elseif matcher.isAncestor(menuEntry, options.matchingDepth) %}
                {%- set classes = classes|merge([options.ancestorClass]) %}
            {%- endif %}
            {%- if menuEntry.extra('roles') %}
                {% if app.user and app.user.validRole(menuEntry.extra('roles', [])) %}
                    {{ block('topMenuEntry') }}
                {% endif %}
            {% else %}
                {{ block('topMenuEntry') }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block topMenuEntry %}
    {% if not menuEntry.isFirst %}
        <li class="c-divider">&nbsp;&nbsp;|&nbsp;&nbsp;</li>
    {% endif %}
    <li>
        <a href="{{ menuEntry.uri }}">
            {% with { item: menuEntry } %}
                {{ block('label') }}
            {% endwith %}
        </a>
    </li>
{% endblock %}

{% block label %}
    {%- set translation_domain = item.extra('translation_domain', 'messages') -%}
    {%- set label = item.label -%}
    {%- if translation_domain is not same as(false) -%}
        {%- set label = label|trans(item.extra('translation_params', {}), translation_domain) -%}
    {%- endif -%}
    {%- if options.allow_safe_labels and item.extra('safe_label', false) %}{{ label|raw }}{% else %}{{ label }}{% endif -%}
{% endblock %}