@media (min-width: 992px) {
    .c-layout-header .c-brand {
        margin: 10px 0 5px 0;
    }
}

@media (max-width: 991px) {
    .c-layout-header .c-brand {
        float: none !important;
        display: block;
        margin: 8px 15px 8px 15px;
    }
}

p.c-text > a {
    color: #b1c4d0;
}

p.c-text > a:hover {
    color: #5893dd !important;
}
