name: PR Checker
on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
      - labeled

jobs:
  test-and-analyse:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version-file: '.java-version'

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Prepare
        shell: bash
        run: |
          echo "Removing symbolic link to assets..."
          rm frontend/src/main/resources/static

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew build sonarqube --info

  publish:
    runs-on: ubuntu-latest
    if: contains( github.event.pull_request.labels.*.name, 'deploy')
    needs:
      - test-and-analyse
    permissions:
      id-token: write
      contents: write
      packages: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version-file: '.java-version'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.WEBSITE_ACCOUNT_PR_DEPLOYER_ARN }}
          aws-region: eu-west-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Prepare
        shell: bash
        run: |
          echo "Removing symbolic link to assets..."
          rm frontend/src/main/resources/static

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew build -x sonarqube --info

      - name: Build frontend image
        id: build-frontend
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/arm64
          tags: |
            mersthamcc/frontend:test
            ghcr.io/mersthamcc/website-frontend:test
            ${{ secrets.WEBSITE_ACCOUNT_ECR_FRONTEND_URL }}:test
          build-args: |
            COMPONENT=frontend

      - name: Build GraphQL image
        id: build-graphql
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: |
            mersthamcc/graphql:test
            ghcr.io/mersthamcc/website-graphql:test
            ${{ secrets.WEBSITE_ACCOUNT_ECR_BACKEND_URL }}:test
          build-args: |
            COMPONENT=graphql

      - name: Build Flyway image
        id: build-flyway
        uses: docker/build-push-action@v5
        with:
          context: sql/
          platforms: linux/arm64
          push: true
          tags: |
            mersthamcc/flyway:test
            ghcr.io/mersthamcc/website-flyway:test

      - name: Dispatch deployment event
        uses: actions/github-script@v7
        env:
          GRAPHQL_DIGEST: ${{ steps.build-graphql.outputs.digest }}
          FRONTEND_DIGEST: ${{ steps.build-frontend.outputs.digest }}
          FLYWAY_DIGEST: ${{ steps.build-flyway.outputs.digest }}
          IMAGE_TAG: test
        with:
          github-token: ${{ secrets.DEPLOYMENT_PAT }}
          script: |
            const { GRAPHQL_DIGEST, FRONTEND_DIGEST, FLYWAY_DIGEST, IMAGE_TAG } = process.env

            const result = await github.rest.repos.createDispatchEvent({
              owner: 'mersthamcc',
              repo: 'infrastructure',
              event_type: 'test-app-deploy',
              client_payload: {
                "graphql_digest": GRAPHQL_DIGEST,
                "frontend_digest": FRONTEND_DIGEST,
                "flyway_digest": FLYWAY_DIGEST,
                "image_tag": IMAGE_TAG
              }
            });
